/* .nav-item {
    width: 100px;
    text-align: center;
    vertical-align: bottom;
} */

body {
    background-color: blanchedalmond;
}

.bg-column {
    margin-left: 10%;
    margin-right: 10%;
    /* margin-bottom: 5%; */
    background-color: #fffbf3;
}

.navbar {
    color: white;
    position: sticky;
    top: 0;
    padding: 10px;
    transition: 1s;
    z-index: 9999;
    /* Adds a transition effect when the padding is decreased */
}

#logo {
    width: "90";
    height: "72";
    transition: 0.3s;

}


.nav-item .borde {
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-color: white;

}

.imageContainer {
    /* border: 2px solid black; */
    width: 100%;
    height: 600px;
}

.cont {
    padding: 5%;
    margin-bottom: 5%;
}


/* CONTENEDOR CAROUSEL */

.contenedor-carousel {
    max-width: 500px;
    height: 250px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
}


/* INICIO CARTAS CAROUSEL */

.contenedor-carousel .body-card {
    display: flex;
    height: 100%;
    width: 100%;
    border: 2px solid black;
}

.contenedor-carousel .body-card .card-image {
    width: 66%;
    height: 100%;
}

.contenedor-carousel .body-card .card-col {
    flex-direction: column;
    width: 34%;
    height: 100%;
    display: flex;
    flex-grow: 1;
}

.contenedor-carousel .box {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor-carousel .card-top {
    font-size: 18px;
    padding-left: 15px;
    padding-top: 20px;
    height: auto;
}

.contenedor-carousel .card-top .estado {
    font-size: 10px;
    margin-top: 5px;
    color: gray;
}

.contenedor-carousel .card-bottom {
    padding-left: 15px;
    width: 100%;
    height: auto;

}

.contenedor-carousel .card-bottom button {
    text-align: right;
}


/* FIN CARTAS CAROUSEL */
/* FIN CAROUSEL */





.about-container {
    width: 70%;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    
}

.text-container {
    margin: 5%;
    margin-top: 50px;
    
}

.text-container h1 {
    margin-bottom: 30px;
}

.footer-container {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    background-color: #212529;
    color: #f8f9fa;
    height: 300px;
    width: 100%;
    font-size: 16px;
}

.footer-container .cell {
    padding: 49px;
}

.footer-container .cell ul {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.footer-container .cell-img {
    padding-top: 28px;
    padding-bottom: 10px;
    padding-left: 49px;
    padding-right: 49px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.footer-container .cell-img img {
    text-align: center;
}



/* CARDS GRID */

.gridCard {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 30px;
    margin-top: 5%;
}

.gridCard .body-card {
    height: 300px;
    width: 200px;
    border: 2px solid black;
}

.gridCard .card-image {
    /* border: 1px solid blue; */
    border-bottom: 2px solid black;
    width: 100%;
    height: 65%;
}

.gridCard .card-col {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
}

.gridCard .card-top {
    height: 70%;
    font-size: 20px;
    margin-left: 10px;
}

.gridCard .card-top .estado {
    font-size: 15px;
    color: gray;
}

.gridCard .card-bottom {
    /* height: 40%; */
    width: 100%;
    align-self: flex-end;
}

.gridCard .card-bottom button {
    float: right;
    margin-right: 10px;
    margin-bottom: 5px;
}
