/* MARGENES IZQUIERDA DERECHA */


html, body {
    background-color: #ffd991;
    height: 100%;
    margin: 0;
    padding: 0;
}

.bg-column {
    margin-left: 10%;
    margin-right: 10%;
    /* margin-bottom: 5%; */
    background-color: #fffbf3;
}

/* FIN MARGENES IZQUIERDA DERECHA */

/* NAVBAR */


.navbar {
    color: white;
    position: sticky;
    top: 0;
    padding: 10px;
    transition: 1s;
    z-index: 9999;
    /* Adds a transition effect when the padding is decreased */
}

#logo {
    width: "90";
    height: "72";
    transition: 0.3s;

}

.nav-item .borde {
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-color: white;
    
}

/* FIN NAVBAR */

/* INICIO CONTAINER IMAGEN MAIN PAGE */


.imageContainer {
    /* border: 2px solid black; */
    width: 100%;
    height: 600px;
    background-color: #fffbf3;
}

.imageContainer img {
    width: 100%;
    height: 100%;
}

/* FIN CONTAINER IMAGEN MAIN PAGE */

/* CONTENEDOR PARA TODO EL CONTENIDO MAIN PAGE */


.cont {
    padding: 5%;
    margin-bottom: 5%;
}

.cont h1 {
    text-align: center;
}

/* FIN CONTENEDOR PARA CONTENIDO MAIN PAGE */

/* CONTENEDOR CAROUSEL */


.contenedor-carousel {
    width: 500px;
    height: 250px;
    position: relative;
    overflow: hidden;
    margin: auto;
    /* display: flex;
    flex-direction: column; */
}

.cambios-carousel {
    display: flex;
    width: 100%; 
    transition: transform 1s ease-in-out;
}

.cambios-carousel.transitioning {
    transition: none;
}

.mySlides {
    min-width: 100%;
    flex-shrink: 0;
    /* opacity: 0;
    position: absolute;
    transition: opacity 1s ease-in-out; */
}

.mySlides.show {
    opacity: 1;
    position: relative;
}

/* FIN CAROUSEL */

/* INICIO CARDS */
/* CARD PLACEHOLDER */

.card-image .box {
    background-image: url('assets/Img/pataPerro.png');
    background-size: cover;
    height: 100%;
    /* width: 100%; */
    
}

a {
    text-decoration: none;
    color: inherit
}

/* INICIO CARTAS CAROUSEL */


.contenedor-carousel .body-card {
    background-color: white;
    display: flex;
    height: 250px;
    width: 100%;
    border: 2px solid black;
}

.contenedor-carousel .body-card .card-image {
    width: 66%;
    height: 100%;
}

.contenedor-carousel .body-card .card-col {
    width: 34%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contenedor-carousel .box {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor-carousel .card-top {
    font-size: 39px;
    padding-left: 15px;
    padding-top: 20px;
    height: 80%;
}

.contenedor-carousel .card-top .estado {
    font-size: 15px;
    margin-top: 5px;
    padding-left: 2px;
    color: gray;
}

.contenedor-carousel .card-bottom {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 20%;
    
}

.contenedor-carousel .card-bottom button {
    align-self: flex-end;
    width: 100%;
    height: 100%;
}


/* FIN CARTAS CAROUSEL */

/* INICIO CARDS GRID */

.gridCard {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 30px;
    margin-top: 5%;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.gridCard .body-card {
    background-color: white;
    height: 300px;
    width: 200px;
    border: 2px solid black;
}

.gridCard .card-image {
    /* border: 1px solid blue; */
    border-bottom: 2px solid black;
    width: 100%;
    height: 65%;
}

.gridCard .card-col {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
}

.gridCard .card-top {
    height: 70%;
    font-size: 20px;
    margin-left: 10px;
}

.gridCard .card-top .estado {
    font-size: 15px;
    color: gray;
}

.gridCard .card-bottom {
    /* height: 40%; */
    width: 100%;
    align-self: flex-end;
}

.gridCard .card-bottom button {
    float: right;
    margin-right: 10px;
    margin-bottom: 5px;
}

/* CARD GRID FIN */
/* CARDS FIN */


/* INICIO ABOUT US */


.about-container {
    width: 70%;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    
}

.text-container {
    margin: 5%;
    margin-top: 50px;
    
}

.text-container h1 {
    margin-bottom: 30px;
}

/* FIN ABOUT US */

/* INICIO FOOTER */


.footer-container {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    background-color: #212529;
    color: #f8f9fa;
}

.footer-container .cell1 {
    padding: 49px;
    padding-left: 150px;
}

.footer-container .cell1 ul {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.footer-container .cell-img {
    padding-top: 28px;
    padding-bottom: 10px;
    padding-left: 49px;
    padding-right: 49px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.footer-container .cell-img img {
    text-align: center;
}

/* FIN FOOTER */

/* PAGINA DETALLE INICIO */


#noData {
    color: red;
}

#detailsBody {
    background-color: #ffd991; 
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#detailsContainer {
    width: 100%;
    height: 500px;
    justify-content: center;
    display: flex;
    /* margin-top: 100px; */
    margin-bottom: 250px;
    margin-left: 25px;
    margin-right: 50px;
    margin-top: 20px;
    background-color: #f8f9fa;
    border-radius: 15px;
    overflow: hidden;
}

#detailsImagen {
    justify-content: left;
    width: 65%;
    margin-right: 15px;

    background-color: blue;
    border-radius: 7px;
    overflow: hidden;
}

#detailsImagen img {
    justify-content: center;
    
}

#detailsColumn {
    display: flex;
    flex-direction: column;
    width: 35%;
}

#detailsTitle {
    padding-left: 7px;
    padding-top: 20px;
    height: 20%;
   
}

#detailsEspecie {
    padding-left: 5px;
    color: rgb(103, 103, 103)
}

#detailsDesc {
    height: 60%;
    padding-left: 12px;
    padding-top: 20px;
    margin-right: 10%;
}

#detailsButton  {
    height: 20%;
    
}

#detailsButton button {
    width: 90%;
    height: 50%;
    align-items: center;
    margin-top: 30px;
    margin-left: 15px
    
}

